* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-yellow: #ffde3a;
    /* --bg-yellow: #fff159; */
    --bg-blue: #03264C;
    --bg-sky: #1259c3;
    --bg-dark-gray: #666;
    --bg-light-gray: #ebebeb;
    --bg-green: #39b54a;

}

body {
    font-family: 'Roboto';
}

.header {
    background: var(--bg-yellow);
    background: #0af;
    font-size: 16px;
    padding: 10px 0;
}


.header__section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    flex-wrap: wrap;
}


.header__section-img {
    flex: 1;
    text-align: center;
}

.header img {
    cursor: pointer;
    height: 45px;
}

.header__section-form {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 40%;
}

.header__section-form input, .header__section-form button {
    font-size: 16px;
    border: none;
    padding: 13px 5px;
}

.header__section-form input {
    border-radius: 5px 0 0 5px;
    overflow: hidden;   
}

.header__section-form button {
    cursor: pointer;
    background: #fff;
    color: var(--bg-dark-gray);
    border-radius: 0px 5px 5px 0;
    border-left: 1px solid #ddd;
} 

.header__section-form input:focus { 
    outline: none;
    border: 1px solid #888;
    border-right: 0px solid #888;
}

.header__section-form:focus-within button {
    border: 1px solid #888;
    border-left: 1px solid #ddd;
}

.header__title {
    text-align: center;
    margin: 18px 0;
    font-weight: 400;
}

.header__nav {
    padding: 0 10px;
    display: none;
}

.header__nav-menu {
    margin-bottom: 16px;
}

.header__nav-lists {
    list-style: none;
    
}

.header__nav-lists a {
    text-decoration: none;
    color: #000;
    margin-right: 5px;
}

.header__menu-icon {
    text-align: center;
}

.header__button {
    background: var(--bg-sky);
    padding: 8px 11px;
    color: var(--bg-light-gray);
    border: none;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
}




main {
    max-width: 1300px;
    background: #F00;
    padding: 20px;
    height: 50vh;
}



.footer {
    padding: 15px 0;
    max-width: 1300px;
    margin: auto;
}


.footer__section {
    text-align: center;
    margin: 45px 0;
    padding: 0px 50px;
}


.footer__section-icon {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--bg-sky)
}

.footer__copyright {
    color: var(--bg-dark-gray);
    padding: 0px 20px 5px;
}




@media screen and (min-width: 769px) { 
    .header {
        padding: 10px 25px;
    }

    .header__section {
        max-width: 1300px;
        margin: auto;
        gap: 20px;

        justify-content: space-between;
    }
    
    .header__section-img {
        flex: .2;

        text-align: left;
    }

    .header__section-form {
        flex: .6;
    }
    
    .header__section-form input {
        overflow: auto;
        padding: 15px 0 15px 15px ;
        width: 100%;
    }
    
    .header__section-form button {
        padding: 13px 10px;
    }

    .header__title {
        flex: 0.40;
        text-align: justify;
    }

    .header__nav {
        display: block;
        max-width: 1300px;
        margin: 9px auto 0;

        display: flex;

        justify-content: space-between;
        font-size: 16px;

    }

    .header__nav-menu {
        margin-bottom: 0px;
    }

    .header__nav-lists {
        display: flex;
        gap: 13px;
        margin-bottom: 5px;
    }

    .header__nav-user {
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .header__nav-lists a {
        margin-right:2px;
    }

    /* FOOTER */
    .footer-box {
        display: flex;
        justify-content: center;
    }

    .footer__section-envios {
        border-right: 2px solid #ccc;

        border-left: 2px solid #ccc;
    }

    .footer__copyright {
        margin: 10px 0;
        text-align: center;
    }
}




@media screen and (min-width: 1024px) {
    .header__section {
        gap: 30px;
    }

    .header img {
        height: 55px; 
    }

    .header__section-form {
        flex: .7;
    }
}
