* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* --bg-yellow: #ffde3a; */
    --bg-yellow: #fff159;
    --bg-blue: #03264C;
    --bg-sky: #1259c3;
    --bg-dark-gray: #666;
    --bg-light-gray: #ebebeb;
    --bg-green: #39b54a;
    --border-input: #00f;

}

body {
    font-family: 'Roboto';
}

.header {
    background: var(--bg-yellow);
    /* background: #0af; */
    font-size: 16px;
    padding: 10px 0;
}


.header__section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    flex-wrap: wrap;
}


.header__section-img {
    flex: 1;
    text-align: center;
}

.header img {
    cursor: pointer;
    height: 45px;
}

.header__section-form {
    flex: 1;
    display: flex;
    justify-content: center;
    width: 40%;
}

.header__section-form input, .header__section-form button {
    font-size: 16px;
    border: none;
    padding: 13px 5px;
}

.header__section-form input {
    border-radius: 5px 0 0 5px;
    overflow: hidden;   
}

.header__section-form button {
    cursor: pointer;
    background: #fff;
    color: var(--bg-dark-gray);
    border-radius: 0px 5px 5px 0;
    border-left: 1px solid #ddd;
} 

.header__section-form input:focus { 
    outline: none;
    border: 2px solid #333;
    border-right: 0px solid #333;
}

.header__section-form:focus-within button {
    border: 2px solid #333;
    border-left: 1px solid #ddd;
}

.header__title {
    text-align: center;
    margin: 2px 0 12px;
    font-weight: 400;
}

.header__nav {
    padding: 0 10px;
    display: none;
}

.header__nav-menu {
    margin-bottom: 16px;
}

.header__nav-lists {
    list-style: none;
    
}

.header__nav-lists a {
    text-decoration: none;
    color: #000;
    margin-right: 5px;
}

.header__menu-icon {
    text-align: center;
}

.header__button {
    background: var(--bg-sky);
    padding: 8px 11px;
    color: var(--bg-light-gray);
    border: none;
    font-size: 22px;
    border-radius: 5px;
    cursor: pointer;
}

.img-banner {
    background-image: url(/img/img-home-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 130px;
}

.main {
    background: var(--bg-light-gray);
    padding: 40px 0;
}

.main__section {
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0 20px;
}

.main__section > h3 {
    color: var(--bg-dark-gray);
    font-size: 24px;
    margin: 0 auto 10px;
    width: 100%;
}

.main__section .main__section-ofertas {
    margin-top: 25px;
}

.main__section-product {
    background: #FFF;
    margin-bottom: 25px;
    min-width: 280px;
    max-width: 320px; /* 310 ACA */

    /* min-width: 230px;
    max-width: 320px; */
    flex: 1;
    padding: 5px 0;
}

.main__section-product img {
    display: block;
    margin: auto;
    height: 270px; 
    /* width: 240px;  */
    width: 80%;
    padding: 4px;

}

.main__section-product-icon {
    border-top: 3px solid var(--bg-light-gray);
    position: relative;
    margin: 10px 0 18px;
}

.main__section-product i { 
    color: var(--bg-green);
    border-radius: 50%;
    border: 2px solid var(--bg-green);
    padding: 10px 8px;  
    position: absolute;
    right: 20px;
    top: -18px;
    background: #fff;
    transition: .5s transform;

}

.main__section-product-details {
    display: flex;
    gap: 10px;
    margin-bottom: 14px;
    padding: 0 15px;

}
.main__section-product-price {
}

.main__section-product-offer {
    color: var(--bg-green);

}

.main__section-product-name {
    color: var(--bg-dark-gray);
    padding: 0 15px 15px;
}

.footer {
    padding: 15px 0;
    max-width: 1300px;
    margin: auto;
}


.footer__section {
    text-align: center;
    margin: 45px 0;
    padding: 0px 50px;
}


.footer__section-icon {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--bg-sky)
}

.footer__copyright {
    color: var(--bg-dark-gray);
    padding: 0px 20px 5px;
}



@keyframes rotateToTruck {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



@media screen and (min-width: 510px) { 
    .main__section-product {
        min-width: 230px;
        max-width: 320px;
    }

    .main__section-product img {
        width: 240px; 
    }
}


@media screen and (min-width: 769px) { 
    .header {
        padding: 10px 25px;
    }

    .header__section {
        max-width: 1300px;
        margin: auto;
        gap: 20px;

        justify-content: space-between;
    }
    
    .header__section-img {
        flex: .2;

        text-align: left;
    }



    .header__section-form {
        flex: .6;
    }
    
    .header__section-form input {
        overflow: auto;
        padding: 15px 0 15px 15px ;
        width: 100%;
    }
    
    .header__section-form button {
        padding: 13px 10px;
    }

    .header__title {
        flex: 0.40;
        text-align: justify;
        margin: 0;
    }

    .header__nav {
        display: block;
        max-width: 1300px;
        margin: 9px auto 0;

        display: flex;

        justify-content: space-between;
        font-size: 16px;

    }

    .header__nav-menu {
        margin-bottom: 0px;
    }

    .header__nav-lists {
        display: flex;
        gap: 13px;
        margin-bottom: 5px;
    }

    .header__nav-user {
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .header__nav-lists a {
        margin-right:2px;
    }

    .img-banner {
        height: 200px;
    }

    .main__section {
        padding: 0 30px;
    }


    .header__menu-icon {
        display: none;
    }

    /* FOOTER */
    .footer-box {
        display: flex;
        justify-content: center;
    }

    .footer__section-envios {
        border-right: 2px solid #ddd;

        border-left: 2px solid #ddd;

    }

    .footer__copyright {
        margin: 10px 0;
        text-align: center;
    }
}




@media screen and (min-width: 1024px) {

    
    .header__section {
        gap: 30px;
    }

    .header img {
        height: 55px; 
    }

    .header__section-form {
        flex: .7;
    }

    .img-banner {
        height: 270px;
    }

    /* ANIMACIONES */
    .main__section-product {
        transition: .3s box-shadow;
        cursor: pointer;
        overflow: hidden;
    }

    .main__section-product:hover {
        box-shadow: 9px 7px 15px rgba(32, 31, 31, 0.18);   
    } 

    .main__section-product-name {
        opacity: 0;
        transition: .4s transform , .4s transform;
        transform: translate(-50px, 5px);

    }

    .main__section-product:hover .main__section-product-name {
        opacity: 1;        
        transform: translate(0, 0);

    } 
    
    .main__section-product:hover .icon-camion {
        animation: rotateToTruck 1.5s;
    }

}
